@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using ZCStudio.Documents.Server.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]|ZCDocs</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
    @RenderSection("Head", required: false)
</head>
<body>
    <script src="~/lib/EventBus/lib/eventbus.min.js"></script>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/umd_popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-query-object/jquery.query-object.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/umd_popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-query-object/jquery.query-object.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <div class="bg-dark container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">ZCDocs</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">

                    @foreach (DocCard docCard in ViewBag.DocCards)
                    {
                        <li class="nav-item active">
                            @Html.ActionLink(docCard.Title, "DocPage", "Document", new { docName = docCard.DocName }, new { @class = "nav-link" })
                        </li>
                    }

                    @*<li class="nav-item active">
                        @Html.ActionLink("数据服务接口", "DocPage", "Document", new { docName = "appservice" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Document" asp-action="Index">service2</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Document" asp-action="Index">service3</a>
                    </li>*@
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" aria-label="Search" type="text" placeholder="搜索">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>

    <footer class="bg-light footer">
        <div class="container-fluid">
            <div class="d-inline-block">
                <nav class="nav mr-auto">
                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="About">关于</a>
                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Feedback">反馈</a>
                </nav>
            </div>
            <span class="text-muted mt-auto mb-auto float-md-right nav-link">&copy; @DateTime.Now.Year - ZCStudio.Documents.Server</span>
        </div>
    </footer>
</body>
</html>